[submodule "roles/james_on_rpi"]
	path = roles/james_on_rpi
	url = https://github.com/oxivanisher/role-james_on_rpi.git
[submodule "roles/piaware"]
	path = roles/piaware
	url = https://github.com/oxivanisher/role-piaware.git
[submodule "roles/rpi_wordclock"]
	path = roles/rpi_wordclock
	url = https://github.com/oxivanisher/role-rpi_wordclock.git
[submodule "roles/hifiberry"]
	path = roles/hifiberry
	url = https://github.com/oxivanisher/role-hifiberry.git
[submodule "roles/octoprint"]
	path = roles/octoprint
	url = https://github.com/oxivanisher/role-octoprint.git
[submodule "roles/rpi_configure_radio"]
	path = roles/rpi_configure_radio
	url = https://github.com/oxivanisher/role-rpi_configure_radio.git
[submodule "roles/rpi_serials"]
	path = roles/rpi_serials
	url = https://github.com/oxivanisher/role-rpi_serials.git
[submodule "roles/rpi_swap"]
	path = roles/rpi_swap
	url = https://github.com/oxivanisher/role-rpi_swap.git
[submodule "roles/rpi_tenserflowlite"]
	path = roles/rpi_tenserflowlite
	url = https://github.com/oxivanisher/role-rpi_tenserflowlite.git
